USE [master]
GO
/****** Object:  Database [QLDoAn]    Script Date: 04/04/21 1:41:11 PM ******/
CREATE DATABASE [QLDoAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDoAn', FILENAME = N'D:\SQL SV\data\QLDoAn.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDoAn_log', FILENAME = N'D:\SQL SV\data\QLDoAn_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDoAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDoAn]
GO
/****** Object:  Table [dbo].[ChiTietTieuBan]    Script Date: 04/04/21 1:41:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTieuBan](
	[MaTB] [int] NOT NULL,
	[MaGV] [nchar](10) NOT NULL,
	[ChiTiet] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ChiTietTieuBan] PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemTieuBan]    Script Date: 04/04/21 1:41:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemTieuBan](
	[MaSV] [nchar](10) NOT NULL,
	[MaTB] [int] NOT NULL,
	[MaGV] [nchar](10) NOT NULL,
	[Diem] [float] NOT NULL,
 CONSTRAINT [PK_DiemTieuBan] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaTB] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoAn]    Script Date: 04/04/21 1:41:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoAn](
	[MaDA] [int] NOT NULL,
	[TenDA] [nvarchar](20) NOT NULL,
	[ChiTiet] [nvarchar](200) NOT NULL,
	[MaGV] [nchar](10) NOT NULL,
	[DiemHuongDan] [float] NOT NULL,
	[DiemPhanBien] [float] NOT NULL,
 CONSTRAINT [PK_DoAn] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 04/04/21 1:41:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [nchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[SDT] [int] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[NghiDay] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiDongCham]    Script Date: 04/04/21 1:41:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiDongCham](
	[MaHD] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[ThoiGian] [date] NOT NULL,
	[DiaDiem] [nvarchar](200) NOT NULL,
	[Khoa] [int] NOT NULL,
 CONSTRAINT [PK_HoiDongCham] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 04/04/21 1:41:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nchar](10) NOT NULL,
	[Ho] [nvarchar](40) NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[Lop] [nchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Phai] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Khoa] [int] NOT NULL,
	[MaDA] [int] NOT NULL,
	[DiemTBTL] [float] NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinDoAn]    Script Date: 04/04/21 1:41:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinDoAn](
	[DiemHD] [float] NOT NULL,
	[DiemPB] [float] NOT NULL,
	[DiemTong] [float] NOT NULL,
	[MaTB] [int] NOT NULL,
	[MaDA] [int] NOT NULL,
 CONSTRAINT [PK_ThongTinDoAn] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TieuBan]    Script Date: 04/04/21 1:41:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TieuBan](
	[MaTB] [int] NOT NULL,
	[TenTB] [nvarchar](50) NOT NULL,
	[ChuyenNghanh] [nvarchar](50) NOT NULL,
	[MaHD] [int] NOT NULL,
 CONSTRAINT [PK_TieuBan] PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietTieuBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTieuBan_GiangVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[ChiTietTieuBan] CHECK CONSTRAINT [FK_ChiTietTieuBan_GiangVien]
GO
ALTER TABLE [dbo].[ChiTietTieuBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTieuBan_TieuBan] FOREIGN KEY([MaTB])
REFERENCES [dbo].[TieuBan] ([MaTB])
GO
ALTER TABLE [dbo].[ChiTietTieuBan] CHECK CONSTRAINT [FK_ChiTietTieuBan_TieuBan]
GO
ALTER TABLE [dbo].[DiemTieuBan]  WITH CHECK ADD  CONSTRAINT [FK_DiemTieuBan_ChiTietTieuBan1] FOREIGN KEY([MaTB], [MaGV])
REFERENCES [dbo].[ChiTietTieuBan] ([MaTB], [MaGV])
GO
ALTER TABLE [dbo].[DiemTieuBan] CHECK CONSTRAINT [FK_DiemTieuBan_ChiTietTieuBan1]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_DoAn] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DoAn] ([MaDA])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_DoAn]
GO
ALTER TABLE [dbo].[ThongTinDoAn]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinDoAn_DoAn] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DoAn] ([MaDA])
GO
ALTER TABLE [dbo].[ThongTinDoAn] CHECK CONSTRAINT [FK_ThongTinDoAn_DoAn]
GO
ALTER TABLE [dbo].[ThongTinDoAn]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinDoAn_TieuBan] FOREIGN KEY([MaTB])
REFERENCES [dbo].[TieuBan] ([MaTB])
GO
ALTER TABLE [dbo].[ThongTinDoAn] CHECK CONSTRAINT [FK_ThongTinDoAn_TieuBan]
GO
ALTER TABLE [dbo].[TieuBan]  WITH CHECK ADD  CONSTRAINT [FK_TieuBan_HoiDongCham] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoiDongCham] ([MaHD])
GO
ALTER TABLE [dbo].[TieuBan] CHECK CONSTRAINT [FK_TieuBan_HoiDongCham]
GO
USE [master]
GO
