USE [master]
GO
/****** Object:  Database [QLDoAn]    Script Date: 05/10/21 10:32:38 PM ******/
CREATE DATABASE [QLDoAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDoAn', FILENAME = N'D:\SQL SV\data\QLDoAn.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDoAn_log', FILENAME = N'D:\SQL SV\data\QLDoAn_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDoAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDoAn]
GO
/****** Object:  Table [dbo].[AccountGV]    Script Date: 05/10/21 10:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountGV](
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[MaRole] [int] NOT NULL,
	[MaGV] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountSV]    Script Date: 05/10/21 10:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountSV](
	[Username] [varchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[MaRole] [int] NOT NULL,
	[MaSV] [varchar](10) NOT NULL,
 CONSTRAINT [PK_AccountSV] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTieuBan]    Script Date: 05/10/21 10:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTieuBan](
	[MaTB] [int] NOT NULL,
	[MaGV] [varchar](10) NOT NULL,
	[ChiTiet] [nvarchar](200) NULL,
 CONSTRAINT [PK_ChiTietTieuBan_1] PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoAn]    Script Date: 05/10/21 10:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoAn](
	[MaDA] [int] NOT NULL,
	[TenDA] [nvarchar](200) NULL,
	[ChiTiet] [nvarchar](200) NULL,
	[MaGVHD] [varchar](10) NULL,
	[MaGVPB] [varchar](10) NULL,
	[DiemHD] [float] NULL,
	[DiemPB] [float] NULL,
	[DiemTB] [float] NULL,
	[DiemTong] [float] NULL,
	[MaTB] [int] NULL,
 CONSTRAINT [PK_DoAn] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 05/10/21 10:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](20) NULL,
	[Phai] [bit] NULL,
	[SDT] [varchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 05/10/21 10:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[MaRole] [int] NOT NULL,
	[TenRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[MaRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 05/10/21 10:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](10) NOT NULL,
	[Ho] [nvarchar](40) NULL,
	[Ten] [nvarchar](20) NULL,
	[Lop] [varchar](50) NULL,
	[NgaySinh] [date] NULL,
	[Phai] [bit] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Khoa] [int] NULL,
	[DiemTBTL] [float] NULL,
	[MaDA] [int] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TieuBan]    Script Date: 05/10/21 10:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TieuBan](
	[MaTB] [int] NOT NULL,
	[TenTB] [nvarchar](50) NULL,
	[ChuyenNganh] [nvarchar](50) NULL,
	[Ngay] [date] NULL,
	[Gio] [time](7) NULL,
	[DiaDiem] [nvarchar](200) NULL,
	[Khoa] [int] NULL,
 CONSTRAINT [PK_TieuBan] PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AccountGV] ([Username], [Password], [MaRole], [MaGV]) VALUES (N'huynhan', N'123456', 2, N'PTITGV03')
INSERT [dbo].[AccountGV] ([Username], [Password], [MaRole], [MaGV]) VALUES (N'huynhtam', N'123456', 2, N'PTITGV05')
INSERT [dbo].[AccountGV] ([Username], [Password], [MaRole], [MaGV]) VALUES (N'huynhthua', N'123456', 1, N'PTITGV01')
GO
INSERT [dbo].[ChiTietTieuBan] ([MaTB], [MaGV], [ChiTiet]) VALUES (1, N'PTITGV02', NULL)
INSERT [dbo].[ChiTietTieuBan] ([MaTB], [MaGV], [ChiTiet]) VALUES (1, N'PTITGV04', NULL)
INSERT [dbo].[ChiTietTieuBan] ([MaTB], [MaGV], [ChiTiet]) VALUES (1, N'PTITGV05', NULL)
GO
INSERT [dbo].[DoAn] ([MaDA], [TenDA], [ChiTiet], [MaGVHD], [MaGVPB], [DiemHD], [DiemPB], [DiemTB], [DiemTong], [MaTB]) VALUES (1, N'Lam web', N'Làm web bán hàng', N'PTITGV02', N'PTITGV02', NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[GiangVien] ([MaGV], [Ho], [Ten], [Phai], [SDT], [DiaChi]) VALUES (N'PTITGV01', N'Huỳnh Trọng', N'Thưa', 1, N'0337125797', N'hjasdfkjh')
INSERT [dbo].[GiangVien] ([MaGV], [Ho], [Ten], [Phai], [SDT], [DiaChi]) VALUES (N'PTITGV02', N'Huỳnh Trung', N'Trụ', 1, N'0123456789', N'áhdfj')
INSERT [dbo].[GiangVien] ([MaGV], [Ho], [Ten], [Phai], [SDT], [DiaChi]) VALUES (N'PTITGV03', N'Huỳnh Thúy', N'An', 0, N'0123456789', N'dia chi')
GO
INSERT [dbo].[Role] ([MaRole], [TenRole]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([MaRole], [TenRole]) VALUES (2, N'giangvien')
INSERT [dbo].[Role] ([MaRole], [TenRole]) VALUES (3, N'sinhvien')
GO
INSERT [dbo].[SinhVien] ([MaSV], [Ho], [Ten], [Lop], [NgaySinh], [Phai], [DiaChi], [Khoa], [DiemTBTL], [MaDA]) VALUES (N'N18DCAT004', N'Võ Thế', N'Anh', N'D18CQAT01-N', CAST(N'2000-01-01' AS Date), 1, N'ÁDFASDF', 2018, 3, NULL)
INSERT [dbo].[SinhVien] ([MaSV], [Ho], [Ten], [Lop], [NgaySinh], [Phai], [DiaChi], [Khoa], [DiemTBTL], [MaDA]) VALUES (N'N18DCAT008', N'Phan Văn ', N'Cảnh', N'N18CQAT02-N', CAST(N'2000-01-25' AS Date), 1, N'97 Man Thiện, Hiệp Phú, Thủ Đức', 2018, 2.9, 1)
INSERT [dbo].[SinhVien] ([MaSV], [Ho], [Ten], [Lop], [NgaySinh], [Phai], [DiaChi], [Khoa], [DiemTBTL], [MaDA]) VALUES (N'n18dcat015', N'Võ Thành', N'Nam', N'D18CQAT02-N', CAST(N'2021-05-10' AS Date), 0, N'KHông', 2018, 2, NULL)
GO
INSERT [dbo].[TieuBan] ([MaTB], [TenTB], [ChuyenNganh], [Ngay], [Gio], [DiaDiem], [Khoa]) VALUES (1, N'An Toàn 1', N'An toàn thông tin', CAST(N'2021-12-12' AS Date), CAST(N'09:00:00' AS Time), N'Hội trường 2A08', 2021)
INSERT [dbo].[TieuBan] ([MaTB], [TenTB], [ChuyenNganh], [Ngay], [Gio], [DiaDiem], [Khoa]) VALUES (2, N'An Toàn 2', N'An toàn thông tin', CAST(N'2021-12-12' AS Date), CAST(N'08:00:00' AS Time), N'Hội trường 2A08', 2021)
INSERT [dbo].[TieuBan] ([MaTB], [TenTB], [ChuyenNganh], [Ngay], [Gio], [DiaDiem], [Khoa]) VALUES (3, N'Công Nghệ 1', N'Công nghệ thông tin', CAST(N'2021-12-12' AS Date), CAST(N'09:00:00' AS Time), N'Hội trường 2A27', 2021)
GO
/****** Object:  Index [IX_SinhVien_DoAn]    Script Date: 05/10/21 10:32:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_SinhVien_DoAn] ON [dbo].[SinhVien]
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountGV]  WITH CHECK ADD  CONSTRAINT [FK_AccountGV_GiangVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[AccountGV] CHECK CONSTRAINT [FK_AccountGV_GiangVien]
GO
ALTER TABLE [dbo].[AccountGV]  WITH CHECK ADD  CONSTRAINT [FK_AccountGV_Role] FOREIGN KEY([MaRole])
REFERENCES [dbo].[Role] ([MaRole])
GO
ALTER TABLE [dbo].[AccountGV] CHECK CONSTRAINT [FK_AccountGV_Role]
GO
ALTER TABLE [dbo].[AccountSV]  WITH CHECK ADD  CONSTRAINT [FK_AccountSV_Role] FOREIGN KEY([MaRole])
REFERENCES [dbo].[Role] ([MaRole])
GO
ALTER TABLE [dbo].[AccountSV] CHECK CONSTRAINT [FK_AccountSV_Role]
GO
ALTER TABLE [dbo].[AccountSV]  WITH CHECK ADD  CONSTRAINT [FK_AccountSV_SinhVien1] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[AccountSV] CHECK CONSTRAINT [FK_AccountSV_SinhVien1]
GO
ALTER TABLE [dbo].[ChiTietTieuBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTieuBan_GiangVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[ChiTietTieuBan] CHECK CONSTRAINT [FK_ChiTietTieuBan_GiangVien]
GO
ALTER TABLE [dbo].[ChiTietTieuBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTieuBan_TieuBan] FOREIGN KEY([MaTB])
REFERENCES [dbo].[TieuBan] ([MaTB])
GO
ALTER TABLE [dbo].[ChiTietTieuBan] CHECK CONSTRAINT [FK_ChiTietTieuBan_TieuBan]
GO
ALTER TABLE [dbo].[DoAn]  WITH CHECK ADD  CONSTRAINT [FK_DoAn_GiangVien] FOREIGN KEY([MaGVHD])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[DoAn] CHECK CONSTRAINT [FK_DoAn_GiangVien]
GO
ALTER TABLE [dbo].[DoAn]  WITH CHECK ADD  CONSTRAINT [FK_DoAn_GiangVien1] FOREIGN KEY([MaGVPB])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[DoAn] CHECK CONSTRAINT [FK_DoAn_GiangVien1]
GO
ALTER TABLE [dbo].[DoAn]  WITH CHECK ADD  CONSTRAINT [FK_DoAn_TieuBan] FOREIGN KEY([MaTB])
REFERENCES [dbo].[TieuBan] ([MaTB])
GO
ALTER TABLE [dbo].[DoAn] CHECK CONSTRAINT [FK_DoAn_TieuBan]
GO
USE [master]
GO
